body {
	background-color:#A5EBF1; color:#8B8B8B;
	margin: 0px;
}
a:link{
	background-color:#8B8B8B; color:#A5EBF1;
}
div.sidebar{
	margin: 10px;
	background-color: #FFFFFF;
	position: absolute;
	top: 0px;
	left: 0px;
	/*width: 200px;
	height: 100%;
	padding: 10px;*/
}
*{
	box-sizing:; border-box;
}
div.contanier{
	position:relative;
	height: 1000px;
	}
div.content{
	position:absolute;
	top: 0px;
	left: 200px;
	padding:10px;
	border-style: dotted;
	border-width: 2px;
	top:15px;

}
div.title{
	border-bottom:1px solid;
}
